<div id="breadcrumbTrail" itemscope itemtype="https://schema.org/BreadcrumbList">
    {% for crumb in breadcrumbs %}
        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            &raquo; <a itemprop="item" href="{{ crumb.path }}"><span itemprop="name">{{ crumb.title }}</span></a>
            <meta itemprop="position" content="{{ loop.index }}" />
        </span>
    {% endfor %}
</div>
